body {
    background-image: url("../images/lain.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: contain;
}
